/* PLAYER */

#vcase1{
	background-color: #fcf765;
}

#vcase1 > .vjoueurmilieu > div {
	background-color: #e6db12;
}

#vcase2{
	background-color: #ff4040;
}

#vcase2 > .vjoueurmilieu > div {
	background-color: #cf0606;
}

#vcase3{
	background-color: #24ff65;
}

#vcase3 > .vjoueurmilieu > div {
	background-color: #008026;
}

#vcase4{
	background-color: #8340ff;
}

#vcase4 > .vjoueurmilieu > div {
	background-color: #4000b5;
}

.vnouvjoueur{
	width: 190px;
	border: 1px solid black;
}


.vnouvFAatk{
	width: 190px;
	height: 69px;
}



.vnouvFAatk > div{
	height: 20px;
	width: 20px;
	border:1px solid grey;
	margin-left: 5px;
	display: inline-block;
	margin-top: 8px;
	background-color: #e6db12;
}

.vnouvFAatk > div:first-of-type {
  	border : 1px dashed black;
}




.vjoueurhaut{
	width:190px;
	height:50px;
	border-bottom: 1px solid black;
}


.vjoueurbas{
	width:190px;
	height:24px;
	border-bottom: 1px solid black;
}

.vjoueurbas > p{
	margin-top: -3px;
}


.vjoueurhaut > p{
    font-size: 46px;
    margin-left: 27px;
    margin-top: 0px;
    display: inline-block;
}

.vjoueurhaut > div{
	display: inline-block;
	width: 45px;
	height: 45px;
	border: none;
}

.vjoueurhaut > div > input{
	width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: white;
    margin-left: 66px;
    margin-top: 6px;
}



.vjoueurpv{
	font-family: system-ui;
	font-weight: bold;
	font-size: 20px;
	padding-left: 5px;
}


.vjoueurpo{
	font-family: system-ui;
	font-weight: bold;
	font-size: 20px;
	padding-left: 20px;
}



#vcase4 > .vjoueurmilieu > div {
	background-color: #4000b5;
}


.vjoueurmilieu{
	width:190px;
	height:49px;
	border-bottom: 1px solid black;
}

.vjoueurmilieu > div{
	height: 20px;
	width: 20px;
	border:1px solid grey;
	margin-left: 29px;
	display: inline-block;
	margin-top: 13px;
	
}


/* MINE */

.vmine{
	background-color: #acb0ad;
	width: 190px;
	border: 1px solid black;
}



.vimageMine{
	width: 190px;
	height: 121px;
	border-bottom: 1px solid black;
}

.vuniteMine{
	width: 190px;
	height: 70px;
}

.vimageMine > input{
	width: 75px;
	height: 75px;
	border:2px solid black;
	margin-left: 55px;
    margin-top: 21px;
    background-color: white;
}


.vuniteMine > div{
	height: 20px;
	width: 20px;
	border:1px solid grey;
	margin-left: 5px;
	display: inline-block;
	margin-top: 8px;
	background-color: #e6db12;
}

.vuniteMine > div:first-of-type {
  	border : 1px dashed black;
}






/* placement mine */

#vmine1{
	position: relative;
    left: 200px;
    top: -194px;
}

#vmine2{
	position: relative;
	top: -380px;
}

#vmineC{
	position: relative;
	top: -574px;
    left: 200px;
}

#vmine3{
	position: relative;
	left: 400px;
	top : -768px;
}

#vmine4{
	position: relative;
	left: 200px;
	top : -954px;
}


/* placement joueur */

#vcase2{
	position: relative;
    left: 400px;
    top: -388px;
}


#vcase3{
	position: relative;
	top : -760px;
}

#vcase4{
	position: relative;
	left: 400px;
	top : -1148px;
}

